body {
  background-color:#F7F7FF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
#about-me {
  color:black;
  background-color:#F7F7FF;
  padding: 50px;
  font-size: 125%;
  text-align: center;
}
#self-title {
  color:white;
  background-color:#0B4F6C;
}

.project-link{
  background-color: #
}

h1 {
  text-align: center;
  color:#BDD5EA;
  font-family: 'Roboto Slab', Times, serif
}
p {
  background-color:#F9DB6D;
  color:white;
}
