body {
  background-color:white;
}
#about-me {
  color:black;
  background-color:#F7F7FF;
  padding: 50px;
  font-size: 125%;
  text-align: center;
}
#self-title {
  color:black
  background-color:#BDD5EA;
}
h1 {
  text-align: center;
  color:#050517;
  font-family: arial, sans-serif;
}
p {
  font-family: arial, sans-serif;
}
