.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#flex-top {
  min-height: 15vh;
}

#flex-bottom {
  min-height: 10vh;
  align-items: stretch;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
