html, body, #App {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inconsolata', 'Roboto', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
